In [1]:
# Importation des packages python
import numpy as np
import pandas as pd

TEST AVEC FICHIER ADRESSES POUR LEQUEL IL FAUT AJOUTER LE QUARTIER

In [2]:
df_test = pd.read_csv('test_adherent.csv', sep=";")
display(df_test.head(10))

   Adherent                             Adresse  Code postal   Commune
0        32                 18 rue de Saintonge        31100  TOULOUSE
1        76                12 rue Henri Moissan        31200  TOULOUSE
2       121               1 bis rue Nestor Brun        31300  TOULOUSE
3       141                    21 bis rue Derat        31000  TOULOUSE
4       156                   8 RUE MARIE MAGNE        31300  TOULOUSE
5       202                   18 rue Saint Léon        31400  TOULOUSE
6       210                 2 rue des Corbières        31500  TOULOUSE
7       251                  100 ROUTE DE REVEL        31400  TOULOUSE
8       276  8 BIS RUE DU DOCTEUR LEON CALMETTE        31300  TOULOUSE
9       299                      22 rue du Midi        31400  TOULOUSE

PREPARATION DES DONNEES :
- supprimer les caractètes accentués
- supprimer les ponctuations
- remplacer les abréviations par les mots entiers : BD, BLVD en BOULEVARD, puis ST en SAINT, etc
- mettre ne majuscule pour être au même format que le fichier de metropole Toulouse

In [3]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\laure\appdata\local\programs\python\python312\lib\site-packages (1.3.8)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:

from unidecode import unidecode

# Pour la fonction suppression de la ponctuation et remplacement des abbréviations par les nots entiers
suppr_abbrev = {
      "." : " ", "," : " ", ":" : " ", "-" : " ", "/" : " ", " / " : " ", "-" : " ", "*" : " ", "'" : " ",
      "-" : " ",
      "\r" : " ", 
      "\n" : " ", # suppression des sauts à la ligne
      # "à": "a","â": "a","é": "e","è": "e","ê": "e","ë": "e", "î": "i","ï": "i", "ô": "o","ö": "o", "ù": "u","û": "u","ü": "u", "ç": "c", # fait avec methode unicode importée
      " blvd ": " boulevard "," bd ": " boulevard "," all ": " allee "," av ": " avenue "," ch ": " chemin "," qt ": " quartier ",
      " pl ": " place "," imp ": " impasse "," rte ": "route",
      " bis " : "b ", "bis " : "b ", " ter " : "t ", "ter " : "t ",
      " st " : " saint ", " ste ": " sainte ", " dr " : " docteur ", " pr " : " professeur "
    }
# Fonction de suppression de la ponctuation et remplacement des abbréviations par les nots entiers
def replace_abbrev(text):
  for abbr, word in suppr_abbrev.items():
    if abbr in text.lower():
      text = text.lower().replace(abbr, word)
  return text

# Suppression des caractères accentués 
df_test['Adresse_extenso'] = df_test['Adresse'].apply(unidecode)

# Opération de suppression de la ponctuation et remplacement des abbréviations par les nots entiers
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].apply(replace_abbrev)

# Suppresion de tous les caractères situés en fin du libellé d'adresse dès que l'on trouve Appt, Bat, Esc, Entrée, ... à compléter au besoin
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r"( apt | appt | appartement ).*$", "", regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r"( bat | batiment ).*$", "", regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r"( esc | escalier ).*$", "", regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r"( ent | entree ).*$", "", regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r' porte .*$', '', regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r'( res | residence ).*$', '', regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r' bal .*$', '', regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r' maison .*$', '', regex=True, case=False)
df_test["Adresse_extenso"] = df_test["Adresse_extenso"].str.replace(r'( les villa| villa).*$', '', regex=True, case=False)

display(df_test.head(10))

,Adherent,Adresse,Code postal,Commune,Adresse_extenso
0,32,18 rue de Saintonge,31100,TOULOUSE,18 rue de Saintonge
1,76,12 rue Henri Moissan,31200,TOULOUSE,12 rue Henri Moissan
2,121,1 bis rue Nestor Brun,31300,TOULOUSE,1b rue nestor brun
3,141,21 bis rue Derat,31000,TOULOUSE,21b rue derat
4,156,8 RUE MARIE MAGNE,31300,TOULOUSE,8 RUE MARIE MAGNE
5,202,18 rue Saint Léon,31400,TOULOUSE,18 rue Saint Leon
6,210,2 rue des Corbières,31500,TOULOUSE,2 rue des Corbieres
7,251,100 ROUTE DE REVEL,31400,TOULOUSE,100 ROUTE DE REVEL
8,276,8 BIS RUE DU DOCTEUR LEON CALMETTE,31300,TOULOUSE,8b rue du docteur leon calmette
9,299,22 rue du Midi,31400,TOULOUSE,22 rue du Midi

In [5]:
# Formatage si besoin selon le fichier fourni pour avoir l'adresse complète dans une colonne
# et transformation texte en MAJUSCULES pour péraparer à la recherche
df_test['adresse'] = df_test['Adresse_extenso'].str.upper() + ' ' + df_test['Code postal'].astype(str) + ' ' + df_test['Commune'].str.upper()

# Suppression des espaces en trop : on ne garde qu'un seul espace entre 2 mots
df_test['adresse'] = df_test['adresse'].apply(lambda x: ' '.join(x.split()))

display(df_test.head(10))

,Adherent,Adresse,Code postal,Commune,Adresse_extenso,adresse
0,32,18 rue de Saintonge,31100,TOULOUSE,18 rue de Saintonge,18 RUE DE SAINTONGE 31100 TOULOUSE
1,76,12 rue Henri Moissan,31200,TOULOUSE,12 rue Henri Moissan,12 RUE HENRI MOISSAN 31200 TOULOUSE
2,121,1 bis rue Nestor Brun,31300,TOULOUSE,1b rue nestor brun,1B RUE NESTOR BRUN 31300 TOULOUSE
3,141,21 bis rue Derat,31000,TOULOUSE,21b rue derat,21B RUE DERAT 31000 TOULOUSE
4,156,8 RUE MARIE MAGNE,31300,TOULOUSE,8 RUE MARIE MAGNE,8 RUE MARIE MAGNE 31300 TOULOUSE
5,202,18 rue Saint Léon,31400,TOULOUSE,18 rue Saint Leon,18 RUE SAINT LEON 31400 TOULOUSE
6,210,2 rue des Corbières,31500,TOULOUSE,2 rue des Corbieres,2 RUE DES CORBIERES 31500 TOULOUSE
7,251,100 ROUTE DE REVEL,31400,TOULOUSE,100 ROUTE DE REVEL,100 ROUTE DE REVEL 31400 TOULOUSE
8,276,8 BIS RUE DU DOCTEUR LEON CALMETTE,31300,TOULOUSE,8b rue du docteur leon calmette,8B RUE DU DOCTEUR LEON CALMETTE 31300 TOULOUSE
9,299,22 rue du Midi,31400,TOULOUSE,22 rue du Midi,22 RUE DU MIDI 31400 TOULOUSE

In [6]:
## Ajout quartier dans df_test par jointure avec df_rues_quartiers sur colonnes 'adresse'

# Chargement fichier csv créé grace aux données metropole Toulouse
df_rues_quartiers = pd.read_csv('numero-de-rue-quartier.csv')

# Fusionnez les DataFrames sur la colonne "adresse"
df_merged = pd.merge(df_test, df_rues_quartiers, on='adresse', how='left')

# Sélectionnez uniquement les colonnes de df1 et la colonne "quartier"
df_resultat = df_merged[['Adherent', 'adresse', 'quartier']]
print(type(df_resultat['quartier']) )

# Contrôle
display(df_resultat.head(10))

<class 'pandas.core.series.Series'>

   Adherent                                         adresse  quartier
0        32              18 RUE DE SAINTONGE 31100 TOULOUSE        16
1        76             12 RUE HENRI MOISSAN 31200 TOULOUSE         9
2       121               1B RUE NESTOR BRUN 31300 TOULOUSE         6
3       141                    21B RUE DERAT 31000 TOULOUSE         2
4       156                8 RUE MARIE MAGNE 31300 TOULOUSE         6
5       202                18 RUE SAINT LEON 31400 TOULOUSE         5
6       210              2 RUE DES CORBIERES 31500 TOULOUSE        12
7       251               100 ROUTE DE REVEL 31400 TOULOUSE        12
8       276  8B RUE DU DOCTEUR LEON CALMETTE 31300 TOULOUSE         6
9       299                   22 RUE DU MIDI 31400 TOULOUSE        13

In [7]:
# Création du fichier csv pour usage externe :-)
df_resultat.to_csv('resultats.csv')